*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  .App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(184, 150, 216);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  button{
    margin: 20px auto;
    color: aliceblue;
    background-color:#333;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #333;
    cursor: pointer;
  }

  .card{
    position: relative;
    padding: 20px 0;
    width: 80%;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    overflow: hidden;
    text-align: center;
    z-index: 5;
  }

  .card .user_foto{
    position: relative;
    background: #fff;
    padding: 3px;
    width: 150px;
    height: 150px;
    margin-bottom:30px;;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.25);

  }

  .card .detalhes button{
    position: absolute;
    bottom: 90px;
    left: 50%;
    padding: 10px 15px;
    color: #fff;
    background: rgba(0,0,0,.75);
    border-radius: 3px;
    text-decoration: none;
    opacity: 0;
    display: block;
    transform: translateX(-50%);
    transition: all .25s ease-in-out;
  }

  .card .detalhes button:hover{
    opacity: 0.9;
  }

   .card #user_titulo{
    color: #302f2f;
    font-size: 18px;
    margin: 0;
  }

  .p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .app-user{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .app-icons{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app--icons .fas{
    margin: 0 30px;
    transition: all 0.2s ease-in-out;
    

  }

  .app--icons .fas:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: rgb(157, 78, 230);
  }