*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  .App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(21, 13, 36);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .card{
    position: relative;
    padding: 20px 0;
    width: 40%;
    background: #e2c5e9;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgba(172, 130, 226, 0.5);
    overflow: hidden;
    text-align: center;
    z-index: 5;
  }

  .card .user_foto{
    position: relative;
    background: #fff;
    padding: 3px;
    width: 150px;
    height: 150px;
    margin-bottom:30px;;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.25);

  }

  .card .detalhes button{
    position: absolute;
    margin: 70px auto;
    font-size: 18px;
    bottom: 80px;
    left: 50%;
    padding: 10px 15px;
    color: #fff;
    background: rgba(0,0,0,.75);
    border-radius: 3px;
    text-decoration: none;
    opacity: 0;
    display: block;
    transform: translateX(-50%);
    transition: all .25s ease-in-out;
    cursor: pointer;
  }

  .card .detalhes button:hover{
    opacity: 0.9;
  }

   .card #user_titulo{
    color: #302f2f;
    font-size: 18px;
    margin: 0;
  }

  .app-user{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .app-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .app--icons .fas{
    margin: 20px 30px;
    transition: all 0.2s ease-in-out;
    
      

  }

  .app--icons .fas:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: rgb(91, 59, 121);
  }

  @media(max-width:600px){

    .card .detalhes button{
      opacity: 0.95;
      margin: 130px auto;
    }

    .card{
      width: 90%;
    }
    
  } 
  

  

 